#about {
	background:green;
	color: pink;
	}

#about .jumbotron h1	{
	font:bold 30pt Zapfino	;
	padding: 0in;
	margin:0in;
	background:yellow;
	}
#about h2 {
		background: red;
		color: purple;
		font: italic 20pt Zapfino font;
	}
