#about {
	background: white;
	color:blue;
	}

#about .jumbotron h1	{
	font:bold 30pt Zapfino;
	padding: 0in;
	margin:0in;
	background:	#0028ff;
	}
#about h2 {
		background: blue;
		color: white;
		font: italic 20pt Zapfino;
	}